[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
flask_session = "*"
pymongo = "*"
bson = "*"
dotenv = "*"
certifi = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
